@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

hr{
    margin: 0 10px !important;
}

:root{
    --header-height: 3rem;
    --nav-width: 70px;
    --first-color: #557570;
    --first-color-light: #F7F6FB;
    --white-color: #d8dec3;
    --normal-font-size: 1rem;--z-fixed: 100;
}
    
*,::before,::after{
    box-sizing: border-box;
}


::-webkit-scrollbar {
    display: none;
}


body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    transition: .5s;
}


img{
    width: 45px;
}


a, span{
    text-decoration: none;
    margin: 5px 0 !important;
}

svg{
    width: 25px;
}

p{
    font-family: 'Poppins', sans-serif;
    color: #557570;
    margin-top: 1.5% !important;
}


.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #f8f4f4e8;
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
    

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_list{
    margin-top: 20%;
}

.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.3rem;
    text-decoration: none;
}


.nav_logo{
    margin-bottom: 2rem;
    padding: 11px;
}

.nav_logo:hover{
    text-decoration: none;
}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name{
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px !important;
}

.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}


.nav_link:hover{
    color: var(--white-color);
    text-decoration: none;
}

.nav_icon{
    font-size: 1.25rem;
}

.show{
    left: 0;
}

.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}

.active{
    color: var(--white-color);
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.height-100{
    min-height:100vh;
    max-height: auto;
    margin-top: 100px;
}


@media screen and (min-width: 768px){

    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem); 
    }
        
        
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img{
        width: 40px;
        height: 40px;
    }

    .header_img img{
        width: 45px;
    }

    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show{
        width: calc(var(--nav-width) + 130px);
    }

    .body-pd{padding-left: calc(var(--nav-width) + 188px);
    }
}

.carousel{
    background: #557570;
    height: 600px;
    border-radius: 10px;
}

.carousel.inner{
    background: #557570;
    height: 600px !important;
}


.card-wrapper{
    padding-top: 50px;
    height: 800px !important;
}

.card{
    background: #557570 !important; 
    border: none !important;
    height: 500px !important;
}

.card-body{
    width: 350px;
    border-radius: 10px;
    background: #A2543D;
}

.card-body svg{
    color: black;
}

.card img{
    padding-top: 10px;
    width: 250px;
    height: 70px;
    align-self: center;
}

.text{
    margin-top: 10px;
    background: #D9D9D9;
    color: #557570;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
}

.p-1 {
    width: 400px !important;
    float: right;
    margin-right: 5px;
    border: none;
}

.input-group {
    margin-top: 25px;
    width: 400px  !important;
    border-radius: 10px;
    background: #d8dec3;
}

.input-group input{
    background: #D6DCD8 !important;
}


.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

button i{
    color: #557570;
}

.lista {
    width: 30%;
    margin-top: 5%;
    margin-left: 34% !important;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1rem;
    height: 100vh;
}

.lista img{
    width: 200px;
}

.livro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    font-size: 20px;
}

.livro #star{
    width: 160px;
}

.livro p{
    margin: 2px !important;
    background: #D9D9D9;
    border-radius: 5px;
    width: 50%;
}